*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
h1{
    color: purple;
    font-family: serif;
    margin-bottom: 10px;
}


.title{
    font-size: 18px;
    font-family: monospace;
}

.nav{
    margin-top: 10px;
    list-style: none;
    padding-left: 0;
}

.nav li{
    display: inline-block;
}

.nav a{
    color: white;
    background: #13a4a4;
    padding: 5px;
    border-radius: 2px;
    text-decoration: none;
}
/* Por la prioridad de el navegador los estilos embebidos 
"es el que nos da el color rojo en el codigo html" titnen mayor prioridad que el id ++ class por lo tanto hay que evitar hacerlos */

/*Agregar la etiqueta importan dara prioridad a el estilo css puede ocasionar probelmas*/
.nav .prueba1{
    font-size: 20px;
    background-color: grey;
}